<div class="row mb-5">
  <div class="col-8 shadow-lg p-0 bg-white">
    <div class="card">
      <div class="card-header">
        <h3>List Your Property</h3>
      </div>
      <div class="card-body">
        <form (ngSubmit)='onSubmit()' [formGroup]="addPropertyForm">
          <div class="tab-panel">
            <tabset class="member-tabset" #formTabs>
              <tab heading="Basic info" formGroupName="BasicInfo">
                <div class="form-group col-12">
                  <p>I want to</p>
                  <div class="btn-group" btnRadioGroup formControlName="SellRent">
                    <label class="btn btn-outline-primary mr-2"
                    btnRadio=1 role="button" name="SellRent">
                      Sell
                    </label>
                    <label class="btn btn-outline-primary"
                    btnRadio=2 role="button" name="SellRent">
                      Rent
                    </label>
                  </div>
                </div>
                <div class="form-group col-12">
                  <p>BHK</p>
                  <div class="btn-group" btnRadioGroup formControlName="BHK" name="bhk"
                  [(ngModel)]="propertyView.BHK">
                    <label *ngFor="let bhk of [1,2,3,4]"
                    class="btn btn-outline-primary mr-2"
                    [btnRadio]="bhk" role="button" name="SellRent">
                      {{bhk}}
                    </label>
                  </div>
                </div>
                <div class="form-group col-12">
                  <p>Property Type</p>
                  <div class="btn-group" btnRadioGroup [(ngModel)]="propertyView.PType" formControlName="PType">
                    <label *ngFor="let ptype of propertyTypes"
                    class="btn btn-outline-primary mr-2"
                    [btnRadio]="ptype" role="button" name="SellRent">
                      {{ptype}}
                    </label>
                  </div>
                </div>
                <div class="form-group col-12">
                  <p>Furniture Type</p>
                  <div class="btn-group" btnRadioGroup name="FType"
                  [(ngModel)]="propertyView.FType" formControlName="FType">
                    <label *ngFor="let ftype of furnishTypes"
                    class="btn btn-outline-primary mr-2"
                    [btnRadio]="ftype" role="button" name="SellRent">
                      {{ftype}}
                    </label>
                  </div>
                </div>



                <div class="form-group col-12">
                  <label>in Building/Society/Project</label>
                  <input type="text"
                  class="form-control"
                  formControlName="Name"
                  [(ngModel)]="propertyView.Name">
                  <span *ngIf="!Name.valid && Name.touched" class="error-block">
                    <span *ngIf="Name.errors.required">Please provide name</span>
                    <span *ngIf="Name.errors.minlength">Name must be at least 5 characters long</span>
                  </span>
                </div>
                <div class="form-group col-12">
                  <label>City</label>
                  <input type="text" class="form-control" [(ngModel)]="propertyView.City" formControlName="City" name="City" required>
                </div>
                <div class="form-group col-12">
                  <button type="button" class="btn btn-primary mr-2" (click)="selectTab(1, BasicInfo.valid)">Next</button>
                </div>
              </tab>
              <tab heading="Pricing and Area" formGroupName="PriceInfo">
                <div class="form-group col-12">
                  <label *ngIf="SellRent.value==1">Price (in USD)</label>
                  <label *ngIf="SellRent.value==2">Rent (in USD)</label>
                  <input type="text" class="form-control" formControlName="Price" [(ngModel)]="propertyView.Price">
                  <div class="error-block"
                  *ngIf="Price.invalid && (Price.touched)">
                    <span *ngIf="SellRent.value==1;else ShowRent">price</span>
                    <ng-template #ShowRent>rent</ng-template>
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Security (in USD)</label>
                  <input type="text" class="form-control">
                </div>

                <div class="form-group col-12">
                  <label>Maintenance (in USD)</label>
                  <input type="text" class="form-control">
                </div>

                <div class="form-group col-12">
                  <label>Built Area (in Sqr Feet)</label>
                  <input type="text" class="form-control" formControlName="BuiltArea" [(ngModel)]="propertyView.BuiltArea">
                </div>

                <div class="form-group col-12">
                  <label>Carpet Area(in Sqr Feet)</label>
                  <input type="text" class="form-control">
                </div>

                <div class="form-group col-12">
                  <button type="button" class="btn btn-primary  mr-2"
                  (click)="selectTab(2, PriceInfo.valid)">Next</button>

                  <button type="button" class="btn btn-primary"
                  (click)="selectTab(0, true)">Back</button>
                </div>
              </tab>
              <tab heading="Address" formGroupName="AddressInfo">
                <div class="form-group col-12">
                  <label>Floor</label>
                  <input type="text" class="form-control">
                </div>

                <div class="form-group col-12">
                  <label>Total Floor</label>
                  <input type="text" class="form-control">
                </div>

                <div class="form-group col-12">
                  <label>Address</label>
                  <input type="text" class="form-control" formControlName="Address">
                </div>

                <div class="form-group col-12">
                  <label>Landmark</label>
                  <input type="text" class="form-control">
                </div>

                  <div class="form-group col-12">
                    <button type="button" class="btn btn-primary mr-2"
                    (click)="selectTab(3, AddressInfo.valid)">Next</button>

                    <button type="button" class="btn btn-primary"
                    (click)="selectTab(1, true)">Back</button>
                  </div>
              </tab>
              <tab heading="Other Details" formGroupName="OtherInfo">
                <div class="form-group col-12">
                  <p>Ready to move</p>
                  <div class="btn-group" btnRadioGroup formControlName="RTM" name="RTM"
                    [(ngModel)]="propertyView.RTM">
                    <label *ngFor="let rtm of [1,2]"
                    class="btn btn-outline-primary mr-2"
                    [btnRadio]="rtm" role="button" name="SellRent">
                      <span *ngIf="rtm === 1">Yes</span>
                      <span *ngIf="rtm !== 1">No</span>
                    </label>
                  </div>
                </div>

                <!-- <div class="form-group btnRadioGroup col-12">
                  <label>Ready to Move</label><br/>
                  <input type="radio" id='Yes' value='1'>
                  <label class="m-2">Yes</label>

                  <input type="radio" id="No" value='2'>
                  <label class="m-2">No</label>
                </div> -->

                <div class="form-group col-4">
                  <label>Possession/Avaialble From</label>
                  <input type="date" class="form-control">
                </div>

                <div class="form-group col-12">
                  <label>Age of Property</label>
                  <input type="text" class="form-control">
                </div>

                <div class="form-group col-12">
                  <label>Gated Community</label>
                  <input type="text" class="form-control">
                </div>

                <div class="form-group col-12">
                  <label>Main Entrance</label>
                  <input type="text" class="form-control">
                </div>

                <div class="form-group col-12">
                  <label>Description</label>
                  <textarea type="text" class="form-control" rows="6"></textarea>
                </div>

                <div class="form-group col-12">
                    <button type="button" class="btn btn-primary mr-2"
                    (click)="selectTab(4, OtherInfo.valid)">Next</button>

                    <button type="button" class="btn btn-primary"
                    (click)="selectTab(2, true)">Back</button>
                </div>
              </tab>

              <tab heading="Photos">
                <div class="form-group col-12">
                  <div class="photo-control">
                      <button class="mt-5" type="button">Upload</button>
                      <button class="mt-5" type="reset">Cancel</button>
                      <button class="mt-5" type="submit">Save</button> <br>
                      This is under construction
                  </div>
                </div>
                <div class="form-group col-12">
                  <button type="button" class="btn btn-primary btn-block"
                  (click)="selectTab(3, true)">Back</button>
                </div>
              </tab>
            </tabset>
          </div>

        </form>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card-header">
      <h3>Your Property Preview</h3>

    </div>
    <div class="shadow-lg p-3 bg-white">
      <app-property-card [property]="propertyView" [hideIcons]=true></app-property-card>
    </div>
  </div>
</div>
